<!-- la page d'accueil-->
<div class="container">
  <div class="h-100 mt- 5 p-3 bg-body-tertiary border rounded-3">

    <img src="../../../assets/images/couverture.jpeg" alt="image de couverture des jeux olympique" class="img">
  </div>

  <div class="col-md-12 mt-5">

    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
      <h2>Bienvenu au Jeux Olympiques Paris 2025...!</h2>
      <p>Les jeux Olympique est un évènement sportif international qui se déroule tous les quatre ans,c'est une
        compétition sportive rénové en 1893 et qui a lieu depuis 1896.<br>
        Réunissant les meilleurs athlètes dans une trentaine de sports. les JO est la plus grande manifestation
        sportive...<br>
        pour but de contribuer un monde pacifique par le sport dans l'esprit olympique qui exige la compréhension et la
        solidarité celui-ci se fondre sur les valeurs:<br>
        <b><i>L'excellence, L'amitié et le respect.</i></b>
      </p>
      <button class="btn btn-outline-secondary" type="button" routerLink="/evenement">Liste des offres </button>
    </div>
  </div>
</div>

<div class="col-1"></div>