<div class="container mt-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"> 
{{msg}}
<!-- inserer formulaire pour bien modifier la evenement-->
  <div *ngIf="id">
  <form class="mt-3" #form="ngForm" (ngSubmit)="modifEvenement(form)">
        <div class="mb-3">
            <label  class="form-label"><b>Nom evenement :</b></label>
            <input type="text" name="nomEvenement"  class="form-control" [(ngModel)]="event.nomEvenement" required>

        </div>

        <div class="mb-3">
            <label  class="form-label"><b>Date evénement :</b></label>
            <input type="date" name="dateEvenement"  class="form-control" [(ngModel)]="event.dateEvenement" required>

        </div>

        <div class="mb-3">
            <label class="form-label"><b>Type evénement :</b></label>
            <input type="text" name="typeEvenement"  class="form-control" [(ngModel)]="event.typeEvenement" required>

        </div>

        <div class="mb-3">
            <label class="form-label"><b>Adresse evénement :</b></label>
            <input type="text" name="adresse"  class="form-control" [(ngModel)]="event.adresse" required>

        </div>
        <div class="mb-3"><!-- liste categorie existe -->
            <label class="form-label"><b>Categories  :</b></label>
            <select type="text" name="category_id"  class="form-control" [(ngModel)]="event.category_id"  required>
            <option *ngFor="let c of categorie" [ngValue]="c.id">
                {{c.nomCategori}}
    
            </option>
            </select>
        </div>
       
        <div class="mb-3" align="end" >
            <button type="submit" class="btn btn-primary">Modifier</button> <!-- bouton modif evenemnt-->

        </div>
      </form>
  </div>
  <!-- inserer formulaire pour ajouter un evenement-->
  <div *ngIf="!id">
  <form class="mt-3" #form="ngForm" (ngSubmit)="ajoutEvenement(form)">
        <div class="mb-3">
            <label  class="form-label"><b>Nom evenement :</b></label>
            <input type="text" name="nomEvenement"  class="form-control" [(ngModel)]="event.nomEvenement" required>

        </div>

        <div class="mb-3">
            <label  class="form-label"><b>Date evénement :</b></label>
            <input type="date" name="dateEvenement"  class="form-control" [(ngModel)]="event.dateEvenement" required>

        </div>

        <div class="mb-3">
            <label class="form-label"><b>Type evénement :</b></label>
            <input type="text" name="typeEvenement"  class="form-control" [(ngModel)]="event.typeEvenement" required>

        </div>

        <div class="mb-3">
            <label class="form-label"><b>Adresse evénement :</b></label>
            <input type="text" name="adresse"  class="form-control" [(ngModel)]="event.adresse" required>

        </div>
  
        <div class="mb-3">
            <label class="form-label"><b>Prix :</b></label>
          <input type="number" name="PrixEvenement"  class="form-control" [(ngModel)]="event.PrixEvenement" required>
        </div>
        <div class="mb-3"> <!-- liste categorie existe-->
            <label class="form-label"><b>Categories  :</b></label>
            <select type="text" name="category_id"  class="form-control" [(ngModel)]="event.category_id"  required>
            <option *ngFor="let c of categorie" [ngValue]="c.id">
                {{c.nomCategori}}
    
            </option>
            </select>
        </div>
       
        <div class="mb-3" align="end" >
            <button type="submit" class="btn btn-primary">Ajouter</button><!-- bouton ajout evenement-->

        </div>
      </form>
  </div>

    </div>
      <div class="col-1"></div>
    </div>

</div>

