
    <mat-toolbar class="navbar bg-primary" data-bs-theme="dark">
       
        <span class="me-2">Jeux Olympique</span>
        <div class="me-2">
            <button mat-stroked-button class="btn btn-primary me-2" routerLink="/index">Accueil</button>
            <button mat-stroked-button class="btn btn-primary me-2" routerLink="/evenement"> Evenement</button>

            <!-- Que admin peux acceder -->
        <ng-container *ngIf="autorisationService.isAdmin()">
            <button mat-stroked-button class="btn btn-primary me-2" routerLink="/admin/listeEvenement">Liste Evenement </button>
            <button mat-stroked-button class="btn btn-primary me-2" routerLink="/admin/listeCategorie"> Liste Catégorie</button>
            <button mat-stroked-button class="btn btn-primary me-2" routerLink="/admin/listeClient"><b>test</b> Liste Clients</button>
        </ng-container>
            
        </div>
        <ng-container *ngIf="!autorisationService.isAuthentifi(); else loggedIn">
            <span class="example-spacer"></span>
            <button  class="btn btn-primary me-2" routerLink="/inscription">
                Inscription
            </button>
            <button  class="btn btn-primary me-2" routerLink="/connexion">
                Connexion
            </button>

        </ng-container>

        <!-- en cas utilisateur connecte affiche profile et deconnexion-->
        <ng-template #loggedIn>
            <button routerLink="/index"> Accueil </button>

            <button  class="btn btn-primary me-2" (click)="deconnecter()"> <!--en fait une methode-->
                Déconnecter 
            </button>            
        </ng-template> 
       
      </mat-toolbar>
      

